/*bootstrap correciones*/
.bannerFooterTexto:hover {
  color: white;
}
/*fin correciones*/
/***************************************************************************************************************************/

.bannerFondoProductos {
  width: 100%;
  height: 100%;
  margin-top: 1%;
  display: flex;
  .bannerFoto1 {
    animation-name: foto1;
    animation-iteration-count: 1;
    animation-duration: 2s;
    width: 25%;
  }
  @keyframes foto1 {
    from {
      opacity: 0;
      transform: translateX(-500px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .bannerFoto2 {
    animation-name: foto2;
    animation-iteration-count: 1;
    animation-duration: 2s;
    width: 25%;
  }
  @keyframes foto2 {
    from {
      opacity: 0;
      transform: translateX(-1000px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .bannerFoto3 {
    animation-name: foto3;
    animation-iteration-count: 1;
    animation-duration: 2s;
    width: 25%;
  }
  @keyframes foto3 {
    from {
      opacity: 0;
      transform: translateX(-1500px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .bannerFoto4 {
    animation-name: foto4;
    animation-iteration-count: 1;
    animation-duration: 2s;
    width: 25%;
  }
  @keyframes foto4 {
    from {
      opacity: 0;
      transform: translateX(-2000px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.bannerCajaTexto {
  display: flex;
  position: relative;
  bottom: 100px;
  height: 100px;
  background-color: $opacidadnegro7;
  animation-name: cajabanner;
  animation-iteration-count: 1;
  animation-duration: 4s;
  transition-delay: 1s;
  justify-content: flex-end;
  align-items: center;
  .bannerFooterTexto {
    text-decoration: none;
    font-size: 4.5rem;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 4%;
    animation-name: textobanner;
    animation-iteration-count: 1;
    animation-duration: 3s;
  }
}
@keyframes cajabanner {
  from {
    width: 0px;
    opacity: 0;
    transform: translateX(-2600px);
  }
  to {
    width: 100%;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes textobanner {
  from {
    opacity: 0;
    color: black;
  }
  to {
    opacity: 1;
    color: white;
  }
}
.separador {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: -80px;
  margin-bottom: 5%;
  background: $gradienteppal;
}
.productosContenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-between;
  .cajaMenuIzq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
    width: 20%;
    height: 50%;
    border-radius: 30px;
    background-color: rgba(191, 85, 124, 0.3);
    box-shadow: 2px 2px 4px 3px $opacidadnegro3;
    margin-left: 2%;
    .textoProductos {
      display: block;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 1.4rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.7);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(255, 255, 255, 0.3);
    }
    .accordion {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      width: 100%;
      height: auto;
      .accordion-item {
        background-color: transparent;
        border: none;
      }
      .accordion-header {
        .accordion-button {
          background-color: transparent;
          margin-bottom: 5px;
          padding-top: 0;
          padding-bottom: 0;
          color: white;
          font-size: 1.5rem;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
        .accordion-button::after {
          background-image: url(../images/productos/flechaabajo.png);
        }
        .accordion-button:not(.collapsed) {
          background-color: transparent;
          color: white;
          box-shadow: none;
        }
        .accordion-button:not(.collapsed)::after {
          background-image: url(/images/productos/flechaarriba.png);
        }
        .accordion-button:focus {
          z-index: 3;
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
  .cajaMenuDer {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 70%;
    .cajaBuscador {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 1rem;
      text-align: right;
      margin-bottom: 10px;
      .cajaBusquedaMinimo {
        text-align: center;
        border-radius: 9px;
        border-style: none;
        background-color: white;
        box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 40%);
        width: 10%;
        margin-right: 30px;
        font-style: italic;
        font-weight: 600;
      }
      .cajaBusquedaMaximo {
        text-align: center;
        border-radius: 9px;
        border-style: none;
        background-color: white;
        box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 40%);
        width: 10%;
        margin-right: 30px;
        font-style: italic;
        font-weight: 600;
      }
      .cajaBusquedaGeneral {
        border-radius: 9px;
        border-style: none;
        background-color: white;
        box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 40%);
        width: 40%;
        padding-left: 10px;
        margin-right: 30px;
        font-style: italic;
        font-weight: 600;
      }
      ::placeholder {
        padding-left: 5px;
        color: $opacidadnegro5;
      }
      .cajaBuscar {
        text-align: center;
        border-radius: 9px;
        border-style: none;
        background-color: white;        
        box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 40%);
        width: 10%;        
        margin-right: 30px;
        font-weight: bold;
        color: grey;
        transform: perspective(1px) translateZ(0);
        overflow: hidden;
        transition-duration: 0.5s;
        transition-property: color, background-color;
      }
      .cajaBuscar:hover{
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: rgba(143, 63, 125, 0.9);
        color: white;
      }
    }
    .cajaProductos {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 275px);
      grid-template-rows: repeat(auto-fill, 360px);
      grid-column-gap: 60px;
      grid-row-gap: 100px;
      height: auto;
      border-top-style: solid;
      border-top-color: $opacidadnegro3;
      border-top-width: 3px;
      padding-top: 4%;
      .cajaIndividual {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 250px;
        height: fit-content;
        border-radius: 10px;
        a {
          .cajaImagen {
            display: flex;
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
            transition-duration: 0.2s;
          }
          .cajaImagen:hover {
            transform: scale(1.02);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.6);
          }
        }
        .cajaInferior {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: auto;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          margin-bottom: 10px;
          .nombreModelo {
            display: flex;
            width: 100%;
            font-size: 1.2rem;
            color: #d9737f;
            text-align: left;
            padding-top: 5px;
            margin-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: #e09ba3;
          }
          .cajaPrecioLista {
            display: flex;
            justify-content: space-between;
            color: darkgrey;
          }
          .cajaPrecioEfvo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: grey;
            .descuentoPrecioEfvo {
              font-size: 0.9rem;
              color: rgb(0, 139, 7, 0.7);
            }
            .precioEfvo {
              font-size: 1.2rem;
            }
          }
        }
        .botonComprar {
          display: flex;
          width: 90%;
          height: 40px;
          border-radius: 40px;
          background-color: #d9737f;
          box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          color: white;
          transform: perspective(1px) translateZ(0);
          position: relative;
          transition-property: color;
          transition-duration: 0.3s;
        }
        .botonComprar:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #e7132c;
          border-radius: 40px;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
        .botonComprar:hover,
        .botonComprar:focus,
        .botonComprar:active {
          color: white;
          cursor: pointer;
        }
        .botonComprar:hover:before,
        .botonComprar:focus:before,
        .botonComprar:active:before {
          transform: scaleX(1);
        }
      }
    }
  }
}

//carrito
.modal-dialog {
  max-width: 50%;
  .modal-content {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    .modal-header {
      padding: 0.75rem 0.75rem;
      display: flex;
      justify-content: center;
      .modal-title {
        font-size: 1.2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: grey;
      }
    }
    .contenedorCarritoTotal {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      margin-top: 2%;
      align-items: center;
      .cajaTextoSuperior {
        display: flex;
        width: 85%;
        justify-content: space-between;
        margin-bottom: 5px;
        p {
          display: block;
          padding-left: 20px;
          padding-right: 60px;
          text-decoration: none;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          color: #d9737f;
        }
      }
      .cajaCarritoGeneral {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .botonVaciarCarrito {
          width: 15%;
          margin-bottom: 10px;
          height: fit-content;
          padding: 10px;
          border-style: none;
          border-radius: 40px;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          color: #c95663;
          background-color: transparent;
          transition-property: box-shadow;
          transition-duration: 0.3s;
        }
        .botonVaciarCarrito:hover, .botonVaciarCarrito:focus, .botonVaciarCarrito:active {
          box-shadow: inset 0 0 0 4px red, 0 0 1px rgba(0, 0, 0, 0);
          border-radius: 20px;
          color: red;
          text-shadow: 0px 0px 1px rgb(0 0 0 / 20%);
          background-color: transparent;
        }
        .cajaCarritoProducto {
          display: flex;
          height: auto;
          margin-bottom: 10px;
          justify-content: space-between;
          align-items: center;
          border-radius: 20px;
          background-color: white;
          box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          color: #fa576a;
          text-align: right;
          padding-left: 40px;
          padding-right: 40px;
          .imagenProducto {
            display: flex;
            width: 20%;
            img {
              width: 90px;
              height: 90px;
              box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
          .nombreProducto {
            display: flex;
            width: 20%;
            justify-content: center;
            align-items: center;
            .nombreProductoInterior {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .modelo {
                color: #c95663;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: rgba(0, 0, 0, 0.2);
              }
              p {
                font-size: 1rem;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                color: #d9737f;
                text-align: center;
                width: 100%;
              }
            }
          }
          .precioProducto {
            display: flex;
            width: 20%;
            height: 90%;
            justify-content: center;
            align-items: center;
            .precioProductoInterior {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .precio {
                color: #c95663;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: rgba(0, 0, 0, 0.2);
              }
              p {
                font-size: 1rem;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                color: #d9737f;
                text-align: center;
                width: 50%;
              }
            }
          }
          .cantidadProducto {
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 90%;
            justify-content: center;
            align-items: center;
            p {
              color: #c95663;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-bottom-color: rgba(0, 0, 0, 0.2);
            }
            .cantidadProductoInterior {
              display: flex;
              justify-content: center;
              align-items: center;
              button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-style: none;
                width: 20px;
                margin-left: 10px;
                margin-right: 10px;
                height: 20px;
                background-color: transparent;
                border-width: 0.5px;
                border-color: rgba(0, 0, 0, 0.3);
                p {
                  border-bottom-style: none;
                }
              }
              div {
                p {
                  font-size: 1rem;
                  font-family: "Poppins", sans-serif;
                  font-weight: 600;
                  color: #d9737f;
                  text-align: center;
                  width: 50%;
                }
              }
            }
          }
          .eliminarProducto {
            border-style: none;
            display: flex;
            width: 20%;
            height: 90%;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            section {
              font-size: small;
              .trash {
                width: 66px;
                height: 80px;
                margin: 0 auto;
                position: relative;
                -webkit-border-bottom-right-radius: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -moz-border-radius-bottomright: 6px;
                -moz-border-radius-bottomleft: 6px;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
                img {
                  width: 21px;
                  height: auto;
                }
              }
              .trash span {
                position: absolute;
                border-style: none;
                top: -15px;
                left: -10px;
                right: -10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                transform: rotate(0deg);
                transition: transform 250ms;
                transform-origin: 30% 100%;
                img {
                  width: 23px;
                  height: auto;
                }
              }
              .trash:hover span {
                transform: rotate(-45deg);
                transition: transform 250ms;
              }
            }
          }
        }        
      }
      .cajaMontoTotal{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: right;
        margin-bottom: 2%;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: #d9737f;
        text-align: right;
        padding-right: 10px;
        .textoMontoTotal{
        }
        .montoTotal {
        }
      }     
    }
    .modal-footer {
      button {
        border-style: none;
        display: flex;
        width: auto;
        height: 40px;
        border-radius: 30px;
        background-color: #d9737f;
        box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: white;
        background-color: #d9737f;
      }
    }
  }
}

//modal enviocarrito

.contenedorEnvioTotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  align-items: center;
  .cajaTextoEnvio {
    display: flex;
    width: 85%;
    margin-bottom: 5px;
    p {
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: #d9737f;
    }
  }
  .cajaEnvioGeneral {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    margin-bottom: 2%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
    .cajaFormaDeEnvio {
      display: flex;
      width: 100%;
      .form-select {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: #d9737f;
        option {
          width: 100%;
          font-size: 1.2rem;
          font-weight: 600;
          color: #d9737f;
        }
      }
      img {
        width: 110px;
        height: auto;
      }
    .dropdown{
      button:after{
        display: none;
      }
      .dropdown-menu{
        li{
          .dropdown-item{
            display: flex;
            width: 25%;
            text-align: center;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 600;
            color: #d9737f;
          }
        }
      }
    }
    }
    .precioEnvio {
      display: flex;
      text-align: center;
      width: 25%;
      p {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: #d9737f;
      }
    }
    .modificarEnvio {
      display: flex;
      text-align: center;
      width: 25%;
      p {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: #d9737f;
      }
    }
    .cajaOpcionesEnvio{
      display: flex;
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      border-style: none;
      background-color: white;
      box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: #fa576a;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;      
      div{
        width: 20%;
      }
    }
  }
}

//montoFinal



.contenedorFinal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  align-items: center;
  .contenedorProductos{
    display: flex;
    height: 100px;
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fa576a;
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
  }
  .contenedorEnvio{
    display: flex;
    height: 100px;
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fa576a;
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
  }
  .contenedorPrecioFinal{
    display: flex;
    height: 100px;
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fa576a;
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.accordion-collapse {
  background-color: rgba(191, 85, 124, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  .hipervinculosTextoProductos {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30%;
    padding-right: 25%;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 1.25rem;
    transition: 0.2s;
  }
  .hipervinculosTextoProductos:hover {
    background-color: rgba(191, 85, 124, 0.3);
    color: $opacidadnegro3;
  }
}
.imagenProductoListado {
  width: 250px;
  height: 250px;
  display: block;
}
